<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <link rel = "icon" href="/img/weather.svg">
        <title>{{title}}</title>
    </head>
    <body>
         <div class="main-content">
        {{>header1}}
        <h1>{{err}}</h1>
        </div>
        
        {{>footer}}
    </body>
</html>