<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel = "icon" href="/img/weather.svg">
    <title>{{title}}</title>
</head>
<body>
     <div class="main-content">
        {{>header1}}
        <p>This Site was created for educational purposes during the Node.js course by Mathew Mead on Udemy. Data comes from mapbox.com and darksky.net</p>
    </div>
    {{>footer}}
</body>
</html>